* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
	font-weight: 500;
}

/* utilities */

.container {
	width: 1200px;
	margin: 0 auto;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.float-left {
	float: left;
}

.menu.inline li {
	display: inline-block;
	list-style: none;
	margin-right: 20px;
}

.menu.inline li:last-child {
	margin-right: 0;
}

/* header */

.main-header {
	background: #0d325a;
	line-height: 80px;
	color: white;
	text-transform: uppercase;
	font-size: 12px;
}

.main-header .logo {
	width: 15%;
}

.main-header .logo img {
	vertical-align: middle;
}

.main-header .nav-center {
	width: 45%;
}

.main-header .nav-right {
	width: 40%;
	text-align: right;
}

.main-header a {
	text-decoration: none;
	color: white;
}

/* buttons */

.main-header a.btn {
	line-height: 12px;
}

.btn {
	min-width: 100px;
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	text-align: center;
	border: 1px solid white;
	line-height: 12px;
	border-radius: 5px;
}

.btn.norm {
	padding: 0;
	border: 0;
}

.btn.green {
	background: #7cbb02;
	border: 1px solid transparent;
}

/* jumbotron */

.jumbotron {
	height: 480px;
	background: #0d325a;
	background-image: url(../img/background-header.png);
	background-size: 1000px;
	background-repeat: no-repeat;
	background-position: 150% 120%;
}

.jumbotron .container {
	height: 100%;
	position: relative;
}

.jumbotron .jumbo-text {
	width: 48%;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

.jumbo-text h1 {
	font-size: 47px;
	font-weight: 500;
	color: white;
	margin-bottom: 30px;
}

.btn.green-big {
	padding: 25px;
	background: #7cbb02;
	border: 1px solid transparent;
}

.jumbo-text a {
	text-transform: uppercase;
	color: #fff;
}

/* grey */

.grey {
	background: #d3d3d3;
	text-align: center;
	padding: 50px;
}

.grey h2 {
	font-weight: 500;
	margin-bottom: 10px;
}

.grey p {
	color: #8e8e8e;
}
